@use "./root.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    color: root.$typeography-white;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

a {
    color: inherit;
    text-decoration: none;
}

input::placeholder {
    font-family: inherit;
}

p + p {
    margin-top: 1lh;
}

body{
    background-color: root.$primary-black;
    overflow-x: hidden;
}