@use "./root.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-weight: 300;
    color: root.$typeography-white;
    font-family: 'Poppins', sans-serif;
}

a {
    color: inherit;
}

input::placeholder {
    font-family: inherit;
}

body{
    background-color: root.$primary-black;
    overflow-x: hidden;
}