@use "./root.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-weight: 300;
    color: root.$typeography-white;
}

a {
    color: inherit;
}

input::placeholder {
    font-family: inherit;
}

p + p {
    margin-top: 1lh;
}

body{
    background-color: root.$primary-black;
}