$primary-black: #1b1e25;
$primary-black-transparent: #1b1e2580;
$secondary-black: #252932;
$tertiary-black: #32363d;
$primary-gray: #8a8d91;
$primary-white: #FFF;

$typeography-white: #ffffff;
$typeography-black: #000000;
$typeography-transparent: #ffffff80;
$typeography-gray: #696D74;
$typeography-light-gray: #AFAFAF;
$typeography-blue: #54a8e5;
$typeography-red: #eb5757;

$accent-blue: #54a8e5;
$accent-red: #eb5757;
$accent-dark_blue: #546ee5;
$icon-gray: #696D74;
$icon-gold: #FFA235;