@use '../placeholders/root.scss';
@use '../placeholders/mixin.scss';

.popupConfirmOverlay{
     visibility: hidden;
    &.active {
        background-color: root.$primary-black-transparent ;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 1;
        visibility: visible;
    }
}

.confirm-popup{
    background-color: root.$primary-black;
    color: root.$typeography-white;
    text-align: center;
    
    width: 60%;
    padding: 1rem;
    border-radius: 1rem;
    border: solid 3px root.$accent-blue;

    display: flex;
    flex-direction: column;
    gap: 1rem;
    
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &__buttons{
        display: flex;
        justify-content: space-between;
        gap: 1rem;

        &__confirm{
            @include mixin.buttonBlue();
            width: 100%;
        }
        &__cancel{
            @include mixin.buttonRed();
            width: 100%;
        }
    }
}