.header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    justify-items: center;
    padding: 1rem;

    &__title {
        grid-column: 2;
        font-size: 1.25em;
        text-transform: capitalize;
        font-weight: 500;
        text-align: center;
    }

    &__left {
        justify-self: start;
    }

    &__right {
        justify-self: end;
    }

    svg {
        font-size: 1.25rem;
    }
}