@use "../placeholders/root.scss";

.explore{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    

    &__section{
       
        &__header{
            display: flex;
            justify-content: space-between;
            padding-inline:  2rem;

            button{
                font-size: 1.2em;
                border: none;
                background-color: root.$primary-black;
                color: root.$typeography-gray;
            }
        }
        &__list:last-child{
            padding-right: 2rem;
        }
        &__list{
            display: flex;
            overflow-x: scroll;
            gap: 2rem;
            scroll-snap-type: x mandatory;
            padding-left: 2rem;
            
            
            img{
                width: auto;
                height: 50vh;
                border-radius: 2rem;
                margin-block: 1rem;
                
            }
            
            &__item{
                scroll-snap-align: center;            

                ul{
                    display: flex;
                    flex-wrap: wrap;
                    gap: .5rem;
                    list-style: none;
                    margin-top: .5rem;
                    li{
                        background-color: root.$tertiary-black;
                        padding: .2rem .3rem;
                        border-radius: 1rem;

                    }
                }
            }
        }
    }
}

    .upcoming__section{
        h2{
            margin-left: 2rem;
        }
        &__list{
            &__item{
            display: flex;
            align-items: center;
            margin-inline: 2rem;
                img{
                    width: 25vw;
                    height: auto;
                    border-radius: 1rem;
                    margin-block: 1rem;
                    margin-right: .5rem;
                }
                p, span{
                    font-weight: 600;
                }
                &__info{
                    display: flex;
                    flex-direction: column;
                    
                ul{
                    display: flex;
                    flex-wrap: wrap;
                    gap: .5rem;
                    list-style: none;
                    margin-top: .5rem;
                    li{
                        background-color: root.$tertiary-black;
                        padding: .2rem .3rem;
                        border-radius: 1rem;

                    }
                }
                }
            }

        }
    }