@use '../fonts/fonts.scss';
@use './placeholders/reset.scss';

@use './pages/explore.scss';
@use './pages/details.scss';
@use './pages/select-seats.scss';
@use './pages/checkout.scss';

@use './components/changeContent.scss';
@use './components/stars.scss';
@use './components/seats.scss';
@use './components/popup.scss';